#  macro_end_print.cfg
[gcode_macro __CFG_MARKER_macro_end_print]
gcode:
    RESPOND PREFIX="CFG" MSG="Loaded: macro_end_print.cfg"

[gcode_macro END_PRINT]
gcode:
    RESPOND  MSG="Starting Macro END_PRINT"
    SET_SKEW CLEAR=1
    RESET_Z_OFFSET			; set Z offset back to 0
    G91 					; Relative positioning
    G1 E-1 Z10 F2400		; Retract and raise Z
    TURN_HEATERS_OFF
    G90						; Absolute positioning
    BRING_PRINT_FORWARD
    M84 X Y E				; Disable all steppers but Z
    #LED_COMPLETE
    #BEEP_TRIPLE
	RESPOND MSG="End Macro END_PRINT"

[gcode_macro BRING_PRINT_FORWARD]
description: Move nozzle to rear-left corner of the bed with Z lift
gcode:
    {% set xmax = printer.toolhead.axis_maximum.x %}
    {% set ymax = printer.toolhead.axis_maximum.y %}

    G91
    G1 Z10 F2000
    G90
    G1 X0 Y{ymax} F6000

[gcode_macro TURN_HEATERS_OFF]    
gcode:
    M106 S0 ; Turn off fan
    M104 S0 ; Turn off hotend
    M140 S0 ; Turn off bed