#  macro_end_print.cfg


[gcode_macro END_PRINT]
gcode:
    RESPOND PREFIX="TEST" MSG="EndPrint Start"
    SAY "EndPrint Start"
	SAY "EndPrint Before Reset_Z_Offer"
	SET_SKEW CLEAR=1
  RESPOND PREFIX="TEST" MSG="EndPrint AJS0"
	SAY "AJS0"
	RESET_Z_OFFSET		; set Z offset mack to 0
	SAY "AJS1"
	SAY "EndPrint After Reset Z Offset"
	SAY "AJS2"
    TURN_HEATERS_OFF
	G91					; Relative positioning
    G1 E-2 Z10 F2400	; Retract and raise Z
    G90					; Absolute positioning
    BRING_PRINT_FORWARD
	RESPOND PREFIX="TEST" MSG="EndPrint BRINT_PRINT_FORWARD"
    M84 X Y E			; Disable all steppers but Z
	Say "AJS3"
	SAY "EndPrint ajs6"
	RESET_Z_OFFSET		; set Z offset mack to 0
	RESPOND PREFIX="TEST" MSG="EndPrint AJS4"
	Say "AJS4"
	SAY "EndPrint End"
	LED_COMPLETE
	BEEP_TRIPLE

[gcode_macro BRING_PRINT_FORWARD]
variable_max_y: 220
gcode:
    G90						; absolute positioning
	G1 X0 Y{max_y} F6000	; position bed so bed moves forward, extruder at 0

[gcode_macro TURN_HEATERS_OFF]	
gcode:
    M106 S0 ; Turn off fan
    M104 S0 ; Turn off hotend
    M140 S0 ; Turn off bed