

#Ensure you have the Klipper-LED_Effect plugin installed.
# In your printer.cfg, ensure your LED is named status_leds.
# If it's named something else, change the leds: lines below.

#Instead of usingSET_LED and SET_LED_EFFECT.
# In the new version, STOP_LED_EFFECTS


# trigger effect  from Klipper/Mainsail/Fluidd console, use the SET_LED_EFFECT command.
# To start an effect:
#    SET_LED_EFFECT EFFECT=panel_idle
# To stop all effects (turn off LEDs):
#    STOP_LED_EFFECTS
# To stop one specific effect:
#    STOP_LED_EFFECTS EFFECT=panel_idle

# Using the Macros (Recommended)
#  
#  In the "Repair Module" I gave you, I wrapped the plugin commands inside standard G-code macros.
# This is the "cleanest" way to do it because the macros include a command 
# to stop the previous effect first so they don't overlap.
#  
#  You can simply type these into your console or put them in your START_PRINT or END_PRINT scripts:
#  Desired State	Macro Command to Run
#  Idle/Standby	LED_IDLE
#  Printing	LED_PRINTING
#  Finished/Done	LED_COMPLETE
#  Error/Emergency	LED_ERROR
#
# Automatic "Hooks"
#  
#  You don't actually have to "call" several of these because they are already linked to your printer's hardware or existing functions:
#      Filament Runout: Because of the [filament_switch_sensor filament] block, the purple chase effect will start automatically as soon as the sensor detects you are out of filament.
#      Heating: The heating_effects block has heater: extruder defined. This means the plugin is "watching" your hotend. You can set it to autostart: true if you want it to always reflect the temperature, or trigger it in your START_PRINT macro with SET_LED_EFFECT EFFECT=heating_effects.
#      Pause/Resume: I modified your PAUSE and RESUME macros so the LEDs will automatically switch to "Yellow Breathing" when you hit pause and back to "White" when you resume.
#  
# Use them in your Print Start/End. To make your printer feel "alive",
#     add these to your existing macros in printer.cfg:
#  
#  [gcode_macro START_PRINT]
#  gcode:
#      LED_IDLE             # Start with blue idle
#      G28                  # Home
#      SET_LED_EFFECT EFFECT=heating_effects # Switch to temp gradient while heating
#      M109 S210            # Wait for hotend temp
#      LED_PRINTING         # Switch to white light once printing starts
#  
#  
#  [gcode_macro END_PRINT]
#  gcode:
#      TURN_OFF_HEATERS
#      LED_COMPLETE         # Switch to green breathing
#  
#  

#####################################################################
# # # # # # # # # # # #  LED EFFECT DEFINITIONS # # # # # # # # # # #
#####################################################################




#[led_effect panel_idle]
#autostart:              true
#frame_rate:             24
#leds:
#    neopixel:status_leds
#layers:
#    breathing  10 1 top (0, 0, 0.2)

#[led_effect heating_effects]
#leds:
#    neopixel:status_leds
#autostart:                          false
#frame_rate:                         24
#heater:                              extruder
#layers:
#    heater 10 0 add (1,1,0),(1,0,0)

[#led_effect filament_runout]
#leds:
#    neopixel:status_leds
#layers:
#    chase 0.3 0.6 top (0.6, 0, 0.6)

#[led_effect critical_error]
#leds:
#    neopixel:status_leds
#layers:
#    strobe 1 1.5 top (1, 0, 0)

#[led_effect printing_glow]
#leds:
#    neopixel:status_leds
#layers:
#    static 1 0 top (1, 1, 1)

#[led_effect pause_breathing]
#leds:
#    neopixel:status_leds
#layers:
#    breathing 3 1 top (0.6, 0.6, 0)

#[led_effect complete_glow]
#leds:
#    neopixel:status_leds
#layers:
#    breathing 2 1 top (0, 1, 0)

#####################################################################
# # # # # # # # # # # # # # #  MACROS  # # # # # # # # # # # # # # #
#####################################################################

[gcode_macro LED_IDLE]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=panel_idle
    M118 LED_IDLE

[gcode_macro LED_PRINTING]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=printing_glow
    M118 LED_PRINTING
	
[gcode_macro LED_COMPLETE]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=complete_glow
    M118 LED_COMPLERE

[gcode_macro LED_ERROR]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=critical_error
    M118 LED_ERROR

#####################################################################
# # # # # # # # # # # # # # #  HOOKS  # # # # # # # # # # # # # # # #
#####################################################################




[filament_switch_sensor filament]
switch_pin: ^PA4
pause_on_runout: True
runout_gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=filament_runout
    M118 FILAMENT_RUNOUT

[gcode_macro SHUTDOWN]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=critical_error
    M118 CRITICAL_ERROR