# macro_bltouch.cfg

[gcode_macro MACRO_BLTOUCH]
description: Entry into macro_bltouch.cfg
gcode:
    G28
	
############## BLTOUCH TEST DEPLOY STOW #####################
# [gcode_macro BLTOUCH_SELFTEST_STOW]
# [gcode_macro BLTOUCH_SELFTEST_DEPLOY]
# [gcode_macro BLTOUCH_SELFTEST]	
	
	
[gcode_macro BLTOUCH_SELFTEST_STOW]
description: "BLTouch STOW"
gcode:
    RESPOND PREFIX="BLTOUCH" MSG="Testing STOW"
 
  # Retract probe
    BLTOUCH_DEBUG COMMAND=pin_up
    G4 P300   ; wait 300ms

    QUERY_PROBE
    {% if printer.probe.last_query %}
        RESPOND PREFIX="BLTOUCH" MSG="Probe retraction verified."
    {% else %}
        RESPOND PREFIX="BLTOUCH" MSG="ERROR: Probe did NOT retract properly!"
    {% endif %}

[gcode_macro BLTOUCH_SELFTEST_DEPLOY]
description: "Extend BLTouch, verify, retract, verify"
gcode:
    RESPOND PREFIX="BLTOUCH" MSG="Testing Deployment"
    # Extend probe
    BLTOUCH_DEBUG COMMAND=pin_down
    G4 P300   ; wait 300ms

	# Query
    QUERY_PROBE
    {% if printer.probe.last_query %}
        RESPOND PREFIX="BLTOUCH" MSG="ERROR: Probe did NOT extend properly!"
    {% else %}
        RESPOND PREFIX="BLTOUCH" MSG="Probe extension verified."
    {% endif %}

  




[gcode_macro BLTOUCH_SELFTEST]
description: "Extend BLTouch, verify, retract, verify"
gcode:
    RESPOND PREFIX="BLTOUCH" MSG="Testing Extension and Retratction"
    # Extend probe
    BLTOUCH_DEBUG COMMAND=pin_down
    G4 P300   ; wait 300ms

	# Query
    QUERY_PROBE
    {% if printer.probe.last_query %}
        RESPOND PREFIX="BLTOUCH" MSG="ERROR: Probe did NOT extend properly!"
        M112 ; optional: emergency stop if you want to be strict
    {% else %}
        RESPOND PREFIX="BLTOUCH" MSG="Probe extension verified."
    {% endif %}

    # Retract probe
    BLTOUCH_DEBUG COMMAND=pin_up
    G4 P300   ; wait 300ms

    QUERY_PROBE
    {% if printer.probe.last_query %}
        RESPOND PREFIX="BLTOUCH" MSG="Probe retraction verified."
    {% else %}
        RESPOND PREFIX="BLTOUCH" MSG="ERROR: Probe did NOT retract properly!"
        M112 ; optional
    {% endif %}





[gcode_macro TEST_BUTTON]
description: Test Button
# Mainsail
# icon: mdi-star
# color: success
# group: Test
gcode:
    G28



[gcode_macro BLTOUCH_PROBE_ACCURACY]
description: Test Probe Accuracy
# Mainsail
# icon: mdi-help-circle-outline
# color: secondary
# group: Probe
gcode:
    PROBE_ACCURACY



[gcode_macro BLTOUCH_PROBE_QUERY]
description: BLTouch probe query
# Mainsail
# icon: mdi-help-circle-outline
# color: secondary
# group: Probe
gcode:
    QUERY_PROBE
    {% if printer.probe.last_query %}
        SET_DISPLAY_TEXT MSG="Probe: TRIGGERED"
    {% else %}
        SET_DISPLAY_TEXT MSG="Probe: OPEN"
    {% endif %}


########################################## DEPLOY #################################
[gcode_macro BLTOUCH_PROBE_DEPLOY]
description: Deploy BLTouch probe pin
# Mainsail
# icon: mdi-arrow-down-bold
# color: info
# group: Probe
gcode:
    BLTOUCH_DEBUG COMMAND=pin_down


########################################## STOW #################################
[gcode_macro BLTOUCH_PROBE_STOW]
description: Stow BLTouch probe pin
# Mainsail
# icon: mdi-arrow-up-bold
# color: info
# group: Probe
gcode:
    BLTOUCH_DEBUG COMMAND=pin_up

########################################## RESET #################################
[gcode_macro BLTOUCH_PROBE_RESET]
description: Reset BLTouch
# Mainsail
# icon: mdi-restart
# color: warning
# group: Probe
gcode:
    BLTOUCH_DEBUG COMMAND=reset

########################################## TEST #################################	
[gcode_macro BLTOUCH_PROBE_SELFTEST]
description: Run BLTouch self-test
# Mainsail
# icon: mdi-flask-outline
# color: warning
# group: Probe
gcode:
    BLTOUCH_DEBUG COMMAND=self_test


#################################### TRIGGER TEST #################################	
[gcode_macro BLTOUCH_TRIGGER_TEST]
description: Test BLTouch trigger state
gcode:
    QUERY_PROBE

