# ============================
# LCD FILAMENT CHANGE MENU
# ============================

[menu __filament]
type: list
name: Filament Change


# --- Resume Print ---
[menu __filament __resume]
type: command
name: Resume Print
gcode:
    RESUME

# --- Extrude 5mm ---
[menu __filament __extrude_5]
type: command
name: Extrude 5mm
gcode:
    G91
    G1 E5 F200
    G90

# --- Heat Nozzle ---
[menu __filament __heat_nozzle]
type: input
name: Heat Nozzle
input: {printer.extruder.target}
gcode:
    M104 S{menu.input}

# --- Cool Nozzle ---
[menu __filament __cool_nozzle]
type: command
name: Cool Nozzle
gcode:
    M104 S0



# --- Retract 5mm ---
[menu __filament __retract_5]
type: command
name: Retract 5mm
gcode:
    G91
    G1 E-5 F200
    G90

# --- Park Head ---
[menu __filament __park_head]
type: command
name: Park Head
gcode:
    G91
    G1 Z10 F600
    G90
    G1 X{printer.toolhead.axis_maximum.x - 10} Y{printer.toolhead.axis_minimum.y + 10} F6000



# --- Cancel Print ---
[menu __filament __cancel]
type: command
name: Cancel Print
gcode:
    CANCEL_PRINT
