#   menu_probe.cfg
# ===============================
# CR-TOUCH / BLTOUCH MENU
# ===============================

[menu __main probe]
type: list
name: Probe


[menu __main probe test_deploy]
type: command
name: Test Deploy Probe
gcode:
    BLTOUCH_SELFTEST_DEPLOY
	

[menu __main probe test_stow]
type: command
name: Test Stow Probe
gcode:
     BLTOUCH_SELFTEST_STOW
	

[menu __main probe test_deploy_stpw]
type: command
name: Test Stow/Deploy Probe
gcode:
     BLTOUCH_SELFTEST
	


	
# [gcode_macro BLTOUCH_SELFTEST_STOW]
# [gcode_macro BLTOUCH_SELFTEST_DEPLOY]
# [gcode_macro BLTOUCH_SELFTEST]	
	


[menu __main probe deploy]
type: command
name: Deploy Probe
gcode:
    BLTOUCH_PROBE_DEPLOY

[menu __main probe stow]
type: command
name: Stow Probe
gcode:
    BLTOUCH_PROBE_STOW
	
[menu __main  probe  reset]
type: command
name: Reset Probe
gcode:
    BLTOUCH_PROBE_RESET
	
[menu __main  probe  selftest]
type: command
name: Probe Self-Test New
gcode:
#    BLTOUCH_PROBE_SELFTEST
    BLTOUCH_SELFTEST

[menu __main probe query]
type: command
name: Query Probe
gcode:
    BLTOUCH_PROBE_QUERY

