# menu_calibrate.cfg
[gcode_macro __CFG_MARKER_menu_calibrate]
gcode:
    RESPOND PREFIX="CFG" MSG="Loaded: menu_calibrate.cfg"


[menu __main calibrate]
type: list
name: Bed/Calibrate

[menu __main calibrate Home_XY_only]
type: command
name: Home X,Y only
gcode:
  G28 X
  G28 Y
  
[menu __main calibrate i_changed_bed]
type: command
name: Force New Bed Mesh
gcode:
  CHANGED_BED

[menu __main calibrate extrude]
type: command
name: Extrude 100mm
gcode:
  HOME_IF_NEEDED
  M109 S200 	; Wait For Nozzle to get to Full Temp
  G90        	; set absolute positioning
  G1 Z15 F600	; move Z axis to height 15mm absolute
  M83 			; relative positioning
  G1 E100 F60	; Extrude 100mm at 1mm/s (60mm/min)

[menu __main calibrate EllisTestSpeed]
type: command
name: Test Speed
gcode:
  TEST_SPEED ACCEL=5000 ITERATIONS=2

[menu __main calibrate Resonance_X]
type: command
name: Test Resonance X
gcode:
  TEST_RESONANCES AXIS=X
  
[menu __main calibrate Resonance_Y]
type: command
name: Test Resonance Y
gcode:
  TEST_RESONANCES AXIS=Y




