# menu_ellis.cfg



[menu __main ellis]
type: list
name: Ellis Calibration

[menu __main ellis fullcal]
type: command
name: Run Full Calibration
gcode:
  ELLIS_FULL_CALIBRATION




# ---------- HEAT & PREP ----------
[menu __main ellis heat]
type: list
name: Heat & Prep

[menu __main ellis heat pla]
type: command
name: Heat PLA (200/60)
gcode:
  M140 S60
  M104 S200
  M190 S60
  M109 S200

# ---------- SCREWS TILT ----------
[menu __main ellis screws]
type: list
name: Bed Level (Screws)

[menu __main ellis screws start]
type: command
name: Screws Tilt Adjust
gcode:
  G28
  SCREWS_TILT_CALCULATE

# ---------- Z OFFSET ----------
[menu __main ellis zoffset]
type: list
name: Z Offset

[menu __main ellis zoffset start]
type: command
name: Start Z Offset
gcode:
  G28
  PROBE_CALIBRATE

[menu __main ellis zoffset save]
type: command
name: Save Z Offset
gcode:
  SAVE_CONFIG

# ---------- BED MESH ----------
[menu __main ellis mesh]
type: list
name: Bed Mesh

[menu __main ellis mesh create]
type: command
name: Create Mesh
gcode:
  G28
  BED_MESH_CALIBRATE

[menu __main ellis mesh save]
type: command
name: Save Mesh
gcode:
  SAVE_CONFIG

### # ---------- EXTRUDER CAL ----------
### [menu __main ellis extruder]
### type: list
### name: Extruder Calibration
### 
### [menu __main ellis extruder prep]
### type: command
### name: Prep Extruder
### gcode:
###   M109 S200
###   G92 E0
### 
### [menu __main ellis extruder extrude]
### type: command
### name: Extrude 100mm
### gcode:
###   G1 E100 F60
### 
### # ---------- PID ----------
### [menu __main ellis pid]
### type: list
### name: PID Tuning
### 
### [menu __main ellis pid hotend]
### type: command
### name: PID Hotend
### gcode:
###   PID_CALIBRATE HEATER=extruder TARGET=200
### 
### [menu __main ellis pid bed]
### type: command
### name: PID Bed
### gcode:
###   PID_CALIBRATE HEATER=heater_bed TARGET=60
### 
### [menu __main ellis pid save]
### type: command
### name: Save PID
### gcode:
###   SAVE_CONFIG
### 
### # ---------- BABYSTEP ----------
### [menu __main ellis babystep]
### type: list
### name: BabyStepping
### 
### [menu __main ellis babystep up]
### type: command
### name: Z +0.02
### gcode:
###   SET_GCODE_OFFSET Z_ADJUST=0.02 MOVE=1
### 
### [menu __main ellis babystep down]
### type: command
### name: Z -0.02
### gcode:
###   SET_GCODE_OFFSET Z_ADJUST=-0.02 MOVE=1
### 
### 