# screws_tilt.cfg
[gcode_macro __CFG_MARKER_screws_tilt]
gcode:
    RESPOND PREFIX="CFG" MSG="Loaded: screws_tilt.cfg"

[gcode_macro RUN_TILT]
description: Run screws tilt adjust
gcode:
    SCREWS_TILT_ADJUST


[screws_tilt_adjust]
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#  Note the positions must be adjusted if x_offset or y_offset
#  Probes change.
#  for example, if screw has nozzle position 30,30 and
#               x_offset: -46   and Y offset is 5
#               you should subtract the x_offset from the X nozzle
#                  (30,30)  x: 30 - -46  = 30+46 = 76    new X=76
#               you should subtract the y_offset from the y nozzle
#                  (30,30)  x: 30 - 5  = 25    new Y=25
#               New screw1 would be 75,25
#  Do not put coordinates that would move the hotend to crash into something..
#  in that case, use the closest coordinate.
# # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
# X_Offset =46. 33- -46=33+46=79 New X=79
# max x for ender 3 pro direct drive is: 235
screw1: 79,31  # nozzle 33,31
screw1_name: Front Left

screw2: 235,31 #nozzle 205,31 
screw2_name: Front Right

screw3: 235,207 #Nozzle 205,207
screw3_name: Rear Right

screw4: 79,207 #nozzle 33,207
screw4_name: Rear Left
horizontal_move_z: 10
speed: 50
# # # # # # # # # # # # # # # # # # # # # #
# I changed the direction of the thread of CW to CCW-M4
# that way the icons on the results show the direction
# t9 turn the wheel as VIEWED FROM THE TOP
# # # # # # # # # # # # # # # # # # # # # #
screw_thread: CCW-M4

[gcode_macro TILT_ADJUST]
description: Home, heat bed, and run screws tilt adjust
gcode:
    M117 Heating bed for tilt adjust
    M140 S60          ; set bed temp (change if desired)
    M190 S60          ; wait for bed to reach temp

    G28
    M117 Running screws tilt adjust
    SCREWS_TILT_ADJUST

    M117 Tilt adjust complete

[gcode_macro BED_TILT]
description: Run screws tilt adjust
gcode:
    SCREWS_TILT_ADJUST