#  start_print.cfg


[gcode_macro GLOBAL_VARS]
description: holds various variables to act like a global variable
variable_mesh_done: False
variable_last_filename: ""
gcode:




[gcode_macro START_PRINT]
gcode:
## Used to get klipper to debug look for DEBUGAJS
# SET_LOG_LEVEL GCODE:DEBUG
##
  G28
  BLTOUCH_DEBUG COMMAND=reset
  SAY "in START_PRINT"
  BED_MESH_ONCE
  BED_MESH_PROFILE LOAD=default
  SKEW_PROFILE LOAD=Calilantern
  LED_PRINTING 
  
[gcode_macro CHANGED_BED]
description: We changed bed - either to pei, glass, turned over
gcode:
  SET_GCODE_VARIABLE MACRO=GLOBAL_VARS VARIABLE=mesh_done VALUE=False

# # #[gcode_macro BED_MESH_ONCE]
# # #description: Run bed mesh only once per power-on
# # #gcode:
# # #    {% if not printer["gcode_macro GLOBAL_VARS"].mesh_done %}
# # #        M117 Running BED_MESH_CALIBRATE
# # #        RESPOND MSG="Running bed mesh calibration"
# # #        BED_MESH_CALIBRATE
# # #        SET_GCODE_VARIABLE MACRO=GLOBAL_VARS VARIABLE=mesh_done VALUE=True
# # #        M117 Bed mesh completed
# # #    {% else %}
# # #        RESPOND MSG="Bed mesh already calibrated this session"
# # #        M117 Bed mesh already done
# # #    {% endif %}
# # #  
[gcode_macro BED_MESH_ONCE]
description: Run bed mesh only once per power-on
gcode:
    M117 Start: BED_MESH_CALIBRATE 
    	{% if not printer["gcode_macro GLOBAL_VARS"].mesh_done %}
        RESPOND PREFIX=" " MSG="Running bed mesh calibration"
		
        BED_MESH_CALIBRATE
        SET_GCODE_VARIABLE MACRO=GLOBAL_VARS VARIABLE=mesh_done VALUE=True
    {% else %}
        RESPOND PREFIX=" " MSG="Bed mesh already calibrated this session"
    {% endif %}
	M117 Ended BED_MESH_CALIBRATE 

######################## custom MATERIAL_PARTICULARS ###############
# USAGE:
#	MATERIAL_PARTICULARS MATERIAL=PLA
#	MATERIAL_PARTICULARS MATERIAL=PETG
#	MATERIAL_PARTICULARS MATERIAL=TPU

[gcode_macro MATERIAL_PARTICULARS]
description: Set Z offset based on filament material
variable_pla_offset: -0.02
variable_petg_offset: -0.02
variable_tpu_offset: -0.06

gcode:
  {% set material = params.MATERIAL|default("PLA")|upper %}

  {% if material == "PLA" %}
    SET_GCODE_OFFSET Z={printer["gcode_macro MATERIAL_PARTICULARS"].pla_offset} MOVE=1
    RESPOND PREFIX="Material" MSG="PLA Z offset applied"
	
	
  {% elif material == "PETG" %}
    SET_GCODE_OFFSET Z={printer["gcode_macro MATERIAL_PARTICULARS"].petg_offset} MOVE=1
    RESPOND PREFIX="Material" MSG="PETG Z offset applied"
	
  {% elif material == "TPU" %}
    SET_GCODE_OFFSET Z={printer["gcode_macro MATERIAL_PARTICULARS"].tpu_offset} MOVE=1
    RESPOND PREFIX="Material" MSG="TPU Z offset applied"
	
  {% else %}
    RESPOND TYPE=error MSG=Unknown_material_{material}
  {% endif %}
  
  
[gcode_macro RESET_Z_OFFSET]
gcode:
  SET_GCODE_OFFSET Z=0 MOVE=1
  RESPOND MSG="Z offset reset to 0"