#  start_print.cfg


[gcode_macro GLOBAL_VARS]
description: holds various variables to act like a global variable
variable_mesh_done: False
variable_last_filename: ""
gcode:
  M400

[gcode_macro GLOBAL_TEMPS]
description: holds various temp variables to act like a global variable
variable_bed: 0
variable_extruder: 0
variable_extrudercool: 0
gcode:
  M400



[gcode_macro START_PRINT]
description: Start print with passed-in temps
gcode:
    {% set bed = params.BED|default(60)|float %}
    {% set extruder = params.EXTRUDER|default(200)|float %}
    {% set extrudercool = params.EXTRUDERCOOL|default(160)|float %}

    RESPOND MSG="START_PRINT: bed={bed} extruder={extruder} cool={extrudercool}"

    # Store temps
    SET_TEMPS BED={bed} EXTRUDER={extruder} EXTRUDERCOOL={extrudercool}

    # Begin warmup
    SET_TEMP_LOW

    G92 E0
    G28
    BLTOUCH_DEBUG COMMAND=reset
    BED_MESH_ONCE
    SET_TEMP_PRINT
    BED_MESH_PROFILE LOAD=default
    SKEW_PROFILE LOAD=Calilantern
    LED_PRINTING

    # Prime line
    G1 Z2.0 F3000
    G1 X0.1 Y20 Z0.3 F5000.0
    G1 X0.1 Y200.0 Z0.3 F1500.0 E15
    G1 X0.4 Y200.0 Z0.3 F5000.0
    G1 X0.4 Y20 Z0.3 F1500.0 E30
    G92 E0
    G1 Z2.0 F3000
    G1 X5 Y20 Z0.3 F5000.0

    RESPOND MSG="... end START_PRINT"


#####################################   TEMPS
 
[gcode_macro SET_TEMPS]
description: Store temps into GLOBAL_TEMPS
gcode:
    {% set bed = params.BED|default(60)|float %}
    {% set extruder = params.EXTRUDER|default(200)|float %}
    {% set extrudercool = params.EXTRUDERCOOL|default(160)|float %}

    RESPOND MSG="SET_TEMPS: bed={bed} extruder={extruder} cool={extrudercool}"

    SET_GCODE_VARIABLE MACRO=GLOBAL_TEMPS VARIABLE=variable_bed VALUE={bed}
    SET_GCODE_VARIABLE MACRO=GLOBAL_TEMPS VARIABLE=variable_extruder VALUE={extruder}
    SET_GCODE_VARIABLE MACRO=GLOBAL_TEMPS VARIABLE=variable_extrudercool VALUE={extrudercool}


[gcode_macro SET_TEMP_LOW]
description: Set bed + hotend to low temps (no wait)
gcode:
    {% set bed = printer["gcode_macro GLOBAL_TEMPS"].variable_bed %}
    {% set cool = printer["gcode_macro GLOBAL_TEMPS"].variable_extrudercool %}

    RESPOND MSG="SET_TEMP_LOW: Bed={bed} Cool={cool}"

    M140 S{bed}
    M104 S{cool}


[gcode_macro SET_TEMP_PRINT]
description: Heat bed first, then hotend
gcode:
    {% set bed = printer["gcode_macro GLOBAL_TEMPS"].variable_bed %}
    {% set extruder = printer["gcode_macro GLOBAL_TEMPS"].variable_extruder %}

    RESPOND MSG="Heating bed to {bed}"
    M190 S{bed}

    RESPOND MSG="Heating hotend to {extruder}"
    M109 S{extruder}

    RESPOND MSG="Temps OK"



# M190 S{bed}      # Wait for bed
#M109 S{extruder} # Wait for nozzle
 
 
[gcode_macro CHANGED_BED]
description: We changed bed - either to pei, glass, turned over
gcode:
  SET_GCODE_VARIABLE MACRO=GLOBAL_VARS VARIABLE=mesh_done VALUE=False

# # #[gcode_macro BED_MESH_ONCE]
# # #description: Run bed mesh only once per power-on
# # #gcode:
# # #    {% if not printer["gcode_macro GLOBAL_VARS"].mesh_done %}
# # #        M117 Running BED_MESH_CALIBRATE
# # #        RESPOND MSG="Running bed mesh calibration"
# # #        BED_MESH_CALIBRATE
# # #        SET_GCODE_VARIABLE MACRO=GLOBAL_VARS VARIABLE=mesh_done VALUE=True
# # #        M117 Bed mesh completed
# # #    {% else %}
# # #        RESPOND MSG="Bed mesh already calibrated this session"
# # #        M117 Bed mesh already done
# # #    {% endif %}
# # #  
[gcode_macro BED_MESH_ONCE]
description: Run bed mesh only once per power-on
gcode:
    M117 Start: BED_MESH_CALIBRATE 
    M118 Start: BED_MESH_CALIBRATE 2
    {% if not printer["gcode_macro GLOBAL_VARS"].mesh_done %}
        RESPOND  MSG="Running bed mesh calibration"
        BED_MESH_CALIBRATE
        SET_GCODE_VARIABLE MACRO=GLOBAL_VARS VARIABLE=mesh_done VALUE=True
    {% else %}
        RESPOND  MSG="Bed mesh already calibrated this session"
    {% endif %}
    M117 Ended BED_MESH_CALIBRATE 
    M118 Ended BED_MESH_CALIBRATE 2
    
######################## custom MATERIAL_PARTICULARS ###############
# USAGE:
#    MATERIAL_PARTICULARS MATERIAL=PLA
#    MATERIAL_PARTICULARS MATERIAL=PETG
#    MATERIAL_PARTICULARS MATERIAL=TPU

# 
# How to Fine-Tune (PETG) in particular
# Once you update the macro, run a first-layer calibration square and watch for these signs:
#Visual Sign                Meaning                 Adjustment
#Gaps between lines            Nozzle is too high       Decrease the value (e.g., from 0.02 to 0.00)
#Rough texture / "plowing"   Nozzle is too low       Increase the value (e.g., from 0.02 to 0.04)
#Filament sticking to nozzle    Nozzle is way too low    Increase the value immediately
#


# MATERIAL_PARTICULARS macro
# Negative Z = nozzle moves DOWN (closer to bed)
# Positive Z = nozzle moves UP (farther from bed)

[gcode_macro MATERIAL_PARTICULARS]
description: Set Z offset based on filament material

variable_pla_offset: -0.04
variable_petg_offset: 0.02
variable_tpu_offset: -0.06

gcode:
  {% set material = params.MATERIAL|default("PLA")|upper %}

  {% if material == "PLA" %}
    SET_GCODE_OFFSET Z={printer["gcode_macro MATERIAL_PARTICULARS"].variable_pla_offset} MOVE=1
    SET_RETRACTION LENGTH=0.5
    RESPOND MSG="PLA Z Offset And Retraction Applied"

  {% elif material == "PETG" %}
    SET_GCODE_OFFSET Z={printer["gcode_macro MATERIAL_PARTICULARS"].variable_petg_offset} MOVE=1
    SET_RETRACTION LENGTH=0.5
    RESPOND MSG="PETG Z Offset And Retraction Applied"

  {% elif material == "TPU" %}
    SET_GCODE_OFFSET Z={printer["gcode_macro MATERIAL_PARTICULARS"].variable_tpu_offset} MOVE=1
    SET_RETRACTION LENGTH=0.5
    RESPOND MSG="TPU Z Offset And Retraction Applied"

  {% else %}
    RESPOND TYPE=error MSG="Unknown material: {material} in MATERIAL_PARTICULARS"
  {% endif %}

  
  
[gcode_macro RESET_Z_OFFSET]
gcode:
  SET_GCODE_OFFSET Z=0 MOVE=1
  RESPOND MSG="Z offset reset to 0"